@import "tailwindcss";
@keyframes zoomOnly {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Apply this animation */
.animate-zoomOnly {
  animation: zoomOnly 7.5s ease-in-out forwards;
}
